.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;

    @media (max-width: 768px) {
        justify-content: center;
    }

    @media (max-width: 480px) {
        padding: 0;
    }
}

.articles div {
    position: relative;
}

.article-preview {
    background-color: #556D5B;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.article-preview:hover {
    transform: scale(1.1);
}

.article-preview div {
    transition: inherit;
}

.article-preview a {
    position: absolute;
    display: block;
    height: 100%;
    margin-bottom: 20px;
}
